<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Comments</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
<% if (result !== null){ %>
	Question: <%= question %>
 	Answer: <%= result %>
 	<%} else { %>
        <h1> NO QUESTION ASKED</h1>
    <% } %>
    <a href="/">SEARCH</a>
    <a href="/clear">CLEAR STORAGE</a>
</body>
</html>
